body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.spline-wrapper {
    height: 100vh; 
    overflow: hidden;
}

.envlope-wrapper {
    margin-top: 100px;
    height: auto; 
    padding-bottom: 150px; 
    text-align: center; 
}

#envelope {
    position: relative;
    width: 400px; 
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: rgb(126, 0, 0); 
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
}
.front { 
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}
.flap {
    border-left: 200px solid transparent; 
    border-right: 200px solid transparent; 
    border-bottom: 90px solid transparent; 
    border-top: 200px solid rgb(147, 0, 0); 
    transform-origin: top;
    pointer-events: none;
}
.pocket {
    border-left: 200px solid  rgb(193, 0, 0); /* Adjusted to match new width */
    border-right: 200px solid  rgb(193, 0, 0); /* Adjusted to match new width */
    border-bottom: 160px solid   rgb(177, 0, 0);
    border-top: 160px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.letter {
    position: relative;
    background-color: #fffbf8;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 150%;
    top: 25%;
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
}
.letter:after {
    content: 'Happy Valentine\'s Day ♥';
    font-family: "Homemade Apple", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 10px; 
    left: 40%; 
    transform: translateX(-50%);
}
.words {
    position: absolute;
    left: 17%;
    font-family: "Homemade Apple", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.words.line1 {
    top: 20%;
}
.words.line2 {
    color: rgb(203, 1, 1);
    top: 32%;
    left: 20%;
}

.open .flap {
    transform: rotateX(180deg);
    transition: transform .4s ease, z-index .6s;
    z-index: 1;
}
.close .flap {
    transform: rotateX(0deg);
    transition: transform .4s .6s ease, z-index 1s;
    z-index: 5;
}
.close .letter {
    transform: translateY(0px); 
    transition: transform .4s ease, z-index 1s;
    z-index: 1;
}
.open .letter {
    transform: translateY(-93px); 
    transition: transform .4s .6s ease, z-index .6s;
    z-index: 2;
}
.hearts {
    position: absolute;
    top: 160px; 
    left: 0;
    right: 0;
    z-index: 2;
}
.heart {
    position: absolute;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px; 
    background: rgb(255, 75, 105);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    pointer-events: none;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.close .heart {
    opacity: 0;
    animation: none;
}
.a1 {
    left: 20%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate,
        fadeOut 5s linear 1 3s;
    -moz-animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate,
        fadeOut 5s linear 1 3s;
    animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate,
        fadeOut 5s linear 1 3s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

.a2 {
    left: 55%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate,
        fadeOut 5s linear 1 4s;
    -moz-animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate,
        fadeOut 5s linear 1 4s;
    animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate,
        fadeOut 5s linear 1 4s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a3 {
    left: 10%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
    -webkit-animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate,
        fadeOut 5s linear 1 4s;
    -moz-animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate,
        fadeOut 5s linear 1 4s;
    animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate,
        fadeOut 5s linear 1 4s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

@-webkit-keyframes slideUp { 
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@keyframes slideUp {     
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@-webkit-keyframes sideSway { 
    0% { 
        margin-left: 0px;
    }
    100% { 
        margin-left: 50px;
    }
}
@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    background-color: rgb(0, 0, 0);
}

.envlope-wrapper {
    margin-top: 120px;
    height: 55vh; 
    padding-bottom: 100px;
    text-align: center; 
}
.reset {
    text-align: center;
}
.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all .1s linear;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: solid 2px rgb(190, 13, 13);
    border-radius: 4px;
    color: rgb(190, 13, 13);
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}
.reset button:hover {
    background-color: rgb(190, 13, 13);
    color: #fff;
}

.spline {
    height: auto;
}

.spacer {
    height: 100px;
}